﻿/*#body_content_style {
border: 1px solid yellow;
}*/

#estimate_table {

    width:700px;
    margin:0 auto;
    
border-spacing:10px 50px;
}

    #estimate_table td {
       padding: 15px 15px 15px 15px;

    }

#estimate_info {
    vertical-align:top;
   border: solid grey 2px;
}

#project_info {
    vertical-align: top;
    border: solid grey 2px;
}




.tree_view_style{

}
 
.tree_view_style ul {
    list-style: none; 
  
}
 
.tree_view_style_node {
        list-style: none; 
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbd1), color-stop(1, #ccd7d9));
        background:-moz-linear-gradient(top, #79bbd1 5%, #ccd7d9 100%);
        background:-webkit-linear-gradient(top, #79bbd1 5%, #ccd7d9 100%);
        background:-o-linear-gradient(top, #79bbd1 5%, #ccd7d9 100%);
        background:-ms-linear-gradient(top, #79bbd1 5%, #ccd7d9 100%);
        background:linear-gradient(to bottom, #73A8C8 5%, #73A8C8 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbd1', endColorstr='#ccd7d9',GradientType=0);
         width:400px;
        background-color:#79bbd1;
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;      
        
        color:#ECFBFF;
        font-family:Opensans;
        font-size:14px;
        
        padding:7px 7px;
        text-decoration:none;
}

.tree_view_style_Root {
    border-bottom: solid 1px #DDD;
}

.tree_view_style_Parent {
    border-bottom: solid 1px #DDD;
}

.tree_view_style_Leaf {
    border-bottom: solid 1px #DDD;
}
  
.tree_view_style_Root a {
    /*display: block;
    width: 170px;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;*/ 
}
 
.tree_view_style_Selected {
   font-size: 14px;
}
 
.tree_view_style_Expand {
    display: block;
    float: left;
    margin: 9px 0px 0px 8px;
    padding: 6px 4px 5px 4px;
    height: 0px !important;
    background: url(../../images/structure/node-plus.gif) 0px 0px no-repeat;
    cursor: pointer;
}
 
.tree_view_style_Collapse {
    display: block;
    float: left;
    margin: 9px 0px 0px 8px;
    padding: 6px 4px 5px 4px;
    height: 0px !important;
    background: url(../../images/structure/node-minus.gif) 0px 0px no-repeat;
    cursor: pointer;
}
 
/*.tree_view_style-Show li {
      border-top: solid 1px #DDD;
      background-position: 28px 9px;
}*/
 
/*.tree_view_style-Hide {
    display: none;
}*/
 
.tree_view_style ul li ul li {
    text-indent: 20px;
    border-bottom: none;
    font-size: 11px;
}

.LabelItem {

    color:#993333;
    font-family:"Open Sans";
    font-family:'OpenSansRegular', sans-serif; 
    font-size:9pt;
    font-weight:bold;

}
.LabelItemBig {


    font-family:"Open Sans";
    font-family:'OpenSansRegular', sans-serif; 
    font-size:8pt;

}
.LabelItemSmall {

    width:50px;
    clear:both;
    font-family:"Open Sans";
    font-family:'OpenSansRegular', sans-serif; 
    font-size:8pt;

}
.EsDetail {
 margin:0 auto;
    width:700px;
   border: 1px #888888 solid;

background-color: white;

-moz-box-shadow: 0px 0px 6px 0px #ca79f6;
-webkit-box-shadow: 0px 0px 6px 0px #ca79f6;
box-shadow: 0px 0px 6px 0px #ca79f6;
     margin-top:10px;
     padding:5px;
}
.EsDetailGraph {
    margin:0 auto;
    width:700px;
   border: 1px #888888 solid;

background-color: white;

-moz-box-shadow: 0px 0px 6px 0px #ca79f6;
-webkit-box-shadow: 0px 0px 6px 0px #ca79f6;
box-shadow: 0px 0px 6px 0px #ca79f6;
     margin-top:10px;
}
.lblcss{           background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, gray), color-stop(1, #ccd7d9));
        background:-moz-linear-gradient(top, gray 5%, #ccd7d9 100%);
        background:-webkit-linear-gradient(top, gray 5%, #ccd7d9 100%);
        background:-o-linear-gradient(top, gray 5%, #ccd7d9 100%);
        background:-ms-linear-gradient(top, gray 5%, #ccd7d9 100%);
        background:linear-gradient(to bottom, #27A438 5%, #5ABF2A 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='black', endColorstr='#ccd7d9',GradientType=0);
        
        background-color:#79bbd1;
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        
        display:inline-block;
        color:white;
        font-family:Opensans;
        font-size:14px;
        font-weight:bold;
        padding:7px 32px;
        text-decoration:none;

 }