﻿a:link {color: #4A3C71;}
a:visited {color: #4A3C71; text-decoration: none}
/*a:active {color: #ff0000; text-decoration: underline}*/
/*a:hover {color: blue; text-decoration: none}*/

@font-face {
    font-family: 'OpenSansLight';
    src: url('../Fonts/OpenSans-Light-webfont.eot');
    src: url('../Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../Fonts/OpenSans-Regular-webfont.eot');
    src: url('../Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../Fonts/OpenSans-Semibold-webfont.eot');
    src: url('../Fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
border-style:none;}

.text_box_style {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:20px;
    border-color:#9D9D9D;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:11pt;
}

.multi_line_text_box_style {
    width: 400px;
    background-color: #F6F6F6;
    border-style:solid;
    height:122px;
    border-color:#9D9D9D;
        font-family:Opensans; 
    font-size:10pt;
}

.drop_down_list_style {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:26px;
    border-color:#9D9D9D;
        font-family:'OpenSansRegular', sans-serif; 
    font-size:8pt;
}

.check_box_list_style {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 8pt;
}

.button_style {
	background-color:#f9f9f9;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-right-radius:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:'OpenSans', sans-serif; 
	font-size:9px;
	
	height:30px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;

}

.button_style:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.button_style:active {
	position:relative;
	top:1px;
}

/*.master_content_text {
    text-align:left;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:10pt;
    line-height:1.4em;
    color:#353535;
}*/


#master_container {
    /*position: relative;
    width: auto;*/
    /*border: solid yellow 3px;*/
     background-color: #73A8C8;
    clear: left;
   overflow: hidden;
    margin:0 auto;
    width:960px;
}
#leftnav {
  background-color: #73A8C8;
    width: 230px;
    text-align:left;
    vertical-align:top;
    height:100%;
    float:left;

}
.rightnav {
   background-color: white;
    width: 730px;
    text-align:left;
    vertical-align:top;
    height:100%;
    float:right;
    min-height:700px;
}

#top_header {
    height: 35px;
    width: 100%;
    background-color: #3E3D4D;
}


#App_ver {
    width:160px;
    float:left;
        padding-top:5px;
        padding-left:25px;
        

}
#appname {
     float:right;
        padding-top:6px;
     
        text-transform:uppercase;
       font-family: Arial, sans-serif;
line-height: 1em;
color: #fff9d6;
font-weight:bold;
font-size: 15px;
text-shadow:0px 0px 0 rgb(214,214,214),1px 1px 0 rgb(174,174,174),2px 2px 0 rgb(133,133,133),3px 3px 0 rgb(92,92,92),4px 4px 0 rgb(52,52,52),5px 5px 0 rgb(11,11,11), 6px 6px 0 rgb(-30,-30,-30),7px 7px 6px rgba(0,0,0,0.05),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}

    }
#loginArea {
    width:500px;
    float:right;

}
#loginArea  a {

}

#header {
   margin:0 auto;
    width: 960px;
    font-size:27pt;
    height:90px;

    
}

#header2 {
   margin:0 auto;
    height:80px;

}
#logo {
    float:left;
    width:220px;
       height:80px;
    padding-top:25px;
    padding-left:10px;
    background-color:#FAFBFD;

   
}
#PageHeader {
        float:right;
     height:80px;
   width:720px;
    padding-top:25px;
    padding-left:10px;
    background-color:#EFF4F9;

}
#master_container_for_menu_and_body {

    width: 100%;
    border: solid black 2px;
}


#master_body {

    background-color:white;
    /*border: solid 1px red;*/
    width:100%;

}


 .body_header_style {
   border-bottom:inset 1px;
  
    font-size: 19pt; 
    font-family: 'OpenSansLight', sans-serif;
    color:black;
    height:50px;
    width:95%;
    margin:0 auto;


        /*background-image: url('../Images/body_header_separator.png');
    background-repeat: repeat-x;
    background-position: bottom;*/
}


.body_content_style {
    padding-top: 25px;
    padding-left: 5px;
    font-size: 12pt;
    font-family: 'OpenSansLight', sans-serif;
    color: black;
    /*border: solid yellow 3px;
    width: 1000px;*/
}

    .body_content_style a {
        text-decoration:underline;
    }

    .body_content_style a:hover {
       color:blue;
       background-color: white;
    }


[type=text],[type=email], [type=password] {

        height:15px;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:9pt;

}


.field_validation_error {
    font-size: 10pt; 
    font-family: 'OpenSansLight', sans-serif;
    color: #e80c4d;
    /*font-weight: bold;*/
}


.mainmenu {
    	width: 100%;
	height: auto;
    list-style-type:none;
}
.mainmenu  ul{
    	margin: 0;
	padding: 0;
	list-style: none;
}
    .mainmenunode {
        	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	/*border-bottom: 1px  #fff;*/
	-webkit-box-shadow:inset 0px 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 0px 1px 0px #fff;
	box-shadow: inset 0px 0px 1px 0px #fff;
	height: 35px;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: Opensans;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
    }
.menu {
	width: 100%;
	height: auto;
    list-style-type:none;
}
 ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
} 
.menu > li > a {

	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	/*border-bottom: 1px  #fff;*/
	-webkit-box-shadow:inset 0px 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 0px 1px 0px #fff;
	box-shadow: inset 0px 0px 1px 0px #fff;
	height: 35px;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: 'OpenSansLight',sans-serif;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.menu ul li a {
    width:90%;
    margin: 0 auto;
	background: #73A8C8;
	border-bottom: inset 0px 0px 1px 0px #fff;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family:'OpenSansLight',sans-serif;
	font-size: 0.923em;
	font-weight: 400;
	color: #fff;
}

/*.menu ul li:last-child a {
	border-bottom: 1px solid #33373d;
    
}*/
.menu > li > a:hover, .menu > li > a.active {
	/*background-color: #35afe3;
	border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));*/
  color:yellow;
text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.02);
  
}
.menu > li > a.active {
	/*border-bottom: 1px solid #1a638f;*/
   color:yellow;
text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.02);
}
.menu ul li  a.subli {
	/*border-bottom: 1px solid #1a638f;*/
   color:yellow;
text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.02);
padding-left:4px;
}
.menu > li > a:before {
	content: '';
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}
.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: -38px 0;
}
.item3 > a:before {
	background-position: 0 -38px;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}

.menu > li > a:hover span, .menu > li a.active span {
	background: #2173a1;
}
.menu > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}
.menu > li > ul li a.selected:before{
	content: '▶';
	font-size: 8px;
	 color:yellow;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.menu  ul  li  a.selected {
    color:yellow;
text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.02);
}

/*.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: #32373D;
}*/
#reg1 {

 margin:0 auto;
 padding:15px;
 width:330px;
float:left;
}
#reg2 {

 margin:0 auto;
 padding:15px;
 width:330px;
float:left;
}
#reg12 {

 margin:0 auto;
 padding:15px;
 width:720px;
 height:230px;

}
.reg2 {

 margin:0 auto;
 padding:15px;
 width:330px;
float:left;
}
.reg {
 margin:0 auto;
 padding:15px;
 width:700px;
float:left;
}

.lable {
    font-family:"Open Sans";
    width:175px;
    float:left;
  
    font-size:9pt;
}
.red {
    color:red;
}


.cssbutton {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #25a338), color-stop(1, #5cbf2a));
        background:-moz-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:-webkit-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:-o-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:-ms-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:linear-gradient(to bottom, #25a338 5%, #5cbf2a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25a338', endColorstr='#5cbf2a',GradientType=0);
        
        background-color:#25a338;
        
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:4px;
        
        border:1px solid #18ab29;
        
        display:inline-block;
        color:#ffffff;
        font-family:Opensans;
        font-size:13px;
        font-weight:normal;
        padding:5px 5px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #2f6627;
      
    }
    .cssbutton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #25a338));
        background:-moz-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:-webkit-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:-o-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:-ms-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:linear-gradient(to bottom, #5cbf2a 5%, #25a338 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#25a338',GradientType=0);
        
        background-color:#5cbf2a;
    }
    .cssbutton:active {
        position:relative;
        top:1px;
    }
    .cssbutton1 {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #25a338), color-stop(1, #5cbf2a));
        background:-moz-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:-webkit-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:-o-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:-ms-linear-gradient(top, #25a338 5%, #5cbf2a 100%);
        background:linear-gradient(to bottom, #25a338 5%, #5cbf2a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25a338', endColorstr='#5cbf2a',GradientType=0);
        
        background-color:#25a338;
        
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:4px;
        
        border:1px solid #18ab29;
        
        display:inline-block;
        color:#ffffff;
        font-family:Opensans;
        font-size:13px;
        font-weight:normal;
        padding:5px 5px;
        text-decoration:none;
        margin-right:500px;
        
        text-shadow:0px 1px 0px #2f6627;
      
    }
    .cssbutton1:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #25a338));
        background:-moz-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:-webkit-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:-o-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:-ms-linear-gradient(top, #5cbf2a 5%, #25a338 100%);
        background:linear-gradient(to bottom, #5cbf2a 5%, #25a338 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#25a338',GradientType=0);
        
        background-color:#5cbf2a;
    }
    .cssbutton1:active {
        position:relative;
        top:1px;
    }
/*.cssbutton{
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:8px;font-family:Opensans; padding: 2px 2px 2px 2px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #a5b8da; background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
 }

.cssbutton:hover{
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: linear-gradient(to bottom, #819bcb, #536f9d);
 }*/

.buttonholder {
    width:95% ;
    margin:0 auto;
    
}

.rightbtn {
  float:right;
  padding-right:15px;
    
}
.lefttbtn {
  float:left;
  padding-left:15px;
    
}
.drop_down_list_Grid {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:26px;
    border-color:#9D9D9D;
        font-family:Opensans; 
    font-size:8pt;
    width:65px;
}
.btnsmall {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5daf5), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5daf5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5daf5', endColorstr='#dfdfdf');
	background-color:#f5daf5;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#140414;
	font-family:Opensans;
	font-size:11px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:23px;
	width:24px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.btnsmall:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #f5daf5) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #f5daf5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#f5daf5');
	background-color:#dfdfdf;
}
    .btnsmall:active {
        position: relative;
        top: 1px;
    }

.underline {
    text-decoration:underline;
    color:blue;
}
.divexcel {
    float:right;
    width:50px;
  
}
.leftdiv {
   background-color: white;
    width: 330px;
    text-align:left;
    vertical-align:top;
   padding-left:10px;
    float:left;
    border:1px solid #dcdcdc;
}
.rightdiv {
   background-color: white;
    width: 330px;
    text-align:left;
    vertical-align:top;
   padding-left:10px;
    float:right;
    border:1px solid #dcdcdc;
}
.Wholediv {
   background-color: white;
   
    width:690px;
    text-align:left;
    vertical-align:top;
   padding:10px;
    float:right;
    margin-bottom:15px;
 
}
         


  .textbox{ 
height:25px; 
width: 275px; 
border: 1px solid #B9BDC1; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
border-radius: 3px; 
} 
.textbox:focus { 
background-color: #E7E8E7; 
outline: 0; 
}

.rightholder {

    padding-left: 10px;
    float: right;
}
.btnholder {
    border-top:1px inset;
  padding-top:20px;
color: black;
height: 50px;
width: 95%;
margin: 0px auto;
}
.btnholderleft {
 float:left;
  width:100px; 
}
.btnholderight {
 float:right;
    width:100px; 
}
