﻿a:link {color: #4A3C71; text-decoration: none}
a:visited {color: #4A3C71; text-decoration: none}
a:active {color: #ff0000; text-decoration: underline}
a:hover {color: blue; text-decoration: none}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../Fonts/OpenSans-Light-webfont.eot');
    src: url('../Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../Fonts/OpenSans-Regular-webfont.eot');
    src: url('../Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../Fonts/OpenSans-Semibold-webfont.eot');
    src: url('../Fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
border-style:none;}

.text_box_style {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:20px;
    border-color:#9D9D9D;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:11pt;
}

.multi_line_text_box_style {
    width: 400px;
    background-color: #F6F6F6;
    border-style:solid;
    height:122px;
    border-color:#9D9D9D;
        font-family:'OpenSansRegular', sans-serif; 
    font-size:10pt;
}

.drop_down_list_style {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:26px;
    border-color:#9D9D9D;
        font-family:'OpenSansRegular', sans-serif; 
    font-size:11pt;
}

.check_box_list_style {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 8pt;
}

.button_style {
	background-color:#f9f9f9;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-right-radius:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:'OpenSansLight', sans-serif; 
	font-size:12px;
	
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;

}

.button_style:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.button_style:active {
	position:relative;
	top:1px;
}

/*.master_content_text {
    text-align:left;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:10pt;
    line-height:1.4em;
    color:#353535;
}*/


#master_container {
    /*position: relative;
    width: auto;*/
    /*border: solid yellow 3px;*/
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    background: white;
}

#master_header {
 
    width:100%;
}

#top_header {
    height: 35px;
    width: 100%;
    background-color: #3E3D4D;
}

#header {
    height: 80px;
    width: 100%;
    font-size:27pt;
    color:#3E3D4D;
    background-color: #EFF4F9;
    
}

#master_container_for_menu_and_body {

    width: 100%;
    border: solid black 2px;
}

#master_menu {
    background-color: #73A8C8;
    width: 230px;
    text-align:left;
    vertical-align:top;
}
#master_body {

    background-color:white;
    /*border: solid 1px red;*/
    width:100%;

}







#master_menu ul ul {
	display: none;
}

	#sidebar ul li:hover > ul {
		display: block;
	}

#master_menu ul {
    z-index: 5;
    margin: 0;
    padding: 0;
    float: right;
    text-align: left;
    list-style: none;
    position: relative;
}

    #master_menu ul:after {
        content: "";
        clear: both;
        display: block;
    }
    #master_menu ul li {
        float: left;
    }

#master_menu ul li a:hover {
    background-color: white;
    color:black;
}


#master_menu ul li a {
    float: left;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
    background: #73A8C8;
    width: 230px;
    height: 40px;
    font-family: 'OpenSansSemibold';
    font-size: 10pt;
    display: block;
    padding-top:20px;
    padding-left:20px;
    /*background-image: url('../Images/navigator_shadow_separator.png');*/
    background-position:left;
    background-repeat:repeat-y;
}

#master_menu ul ul {
    background: #73A8C8;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 230px;

}
    #master_menu ul ul li {

        position: relative;
    }
        #master_menu ul ul li a {
            height: 25px;
            padding-left: 20px;
            padding-top: 6px;
            font-size: 9pt;
            width: 230px;
            background-image: none;
            border-bottom: solid 2px RGB(68,66,67);
        }
            #master_menu ul ul li a:hover {
                background-color: white;
            }


    #master_menu ul ul ul {
        position: absolute;
        left: 100%;
        top: 0;
    }



/*#body_header
{
    background-color: white;
    font-size: 19pt;
    font-family:'OpenSansLight', sans-serif; 
    padding-top: 40px;
}

#body_content
{
  
    background-color: white;
    font-size: 10pt;
    font-family:'OpenSansLight', sans-serif; 
    padding-top: 40px;
    padding-left: 25px;
    color:black;
}*/


 .body_header_style {
    padding-top: 25px;
    padding-left: 30px;
    font-size: 19pt; 
    font-family: 'OpenSansLight', sans-serif;
    color:black;
    height:50px;
        /*background-image: url('../Images/body_header_separator.png');
    background-repeat: repeat-x;
    background-position: bottom;*/
}


.body_content_style {
    padding-top: 25px;
    padding-left: 30px;
    font-size: 12pt;
    font-family: 'OpenSansLight', sans-serif;
    color: black;
    /*border: solid yellow 3px;
    width: 1000px;*/
}

    .body_content_style a {
        text-decoration:underline;
    }

    .body_content_style a:hover {
       color:blue;
       background-color: white;
    }


[type=text],[type=email], [type=password] {
    background-color: #F6F6F6;
    border-style:solid;
    height:20px;
    border-color:#9D9D9D;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:11pt;

}


.field_validation_error {
    font-size: 10pt; 
    font-family: 'OpenSansLight', sans-serif;
    color: #e80c4d;
    /*font-weight: bold;*/
}