﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    background-color: #E1E1E1;
    font-size: .85em;
    font-family: Opensans;
    width:960px;
    margin: 0 auto;
    padding: 0;
    height: 100%;

}

a {
 
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

  

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        background: url("../Images/accent.png") no-repeat;
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}
    
.Footer {
    height: 35px;
    width: 100%;
    background-color: #3E3D4D;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family:Opensans;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 11px;
    text-align: right;
    float :right;

}

    #login a {
          margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
        color:yellow;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }



/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }


    /*input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 0.8em;
        margin: 5px 0 6px 0;
       
        }*/

  

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
      

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
    background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
            font-weight: 600;
             width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
          padding: 4px;
       /*  margin-right: 4px; */
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    font-size:10px;
   
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}
.validation-summary-msg {
    color:green;
    font-weight: bold;
    font-size: 1.1em;
}
.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/




.button
{
background:#f5f5f5;
border:1px solid #cccccc;
border-radius:3px;
-moz-border-radius:3px; /* Firefox 3.6 and earlier */
-webkit-border-radius:3px; /* Chrome,Safari */
-o-border-radius:3px; /* opera */
}

div.pager
{
margin-top: 5px;
text-align:center;
background:#f5f5f5;
border:1px solid #e5e5e5;
margin:0px;
padding:2px;
width: 694px;
}

div.pager a
{
background:#f5f5f5;
padding: 2px 4px;
    display: inline-block;
    text-decoration: none;
    margin: auto 2px;
    color:#005c9c;
}

div.pager span span
{
    background:#f5f5f5;
    padding: 2px 4px;
    display: inline-block;
    margin: auto 2px;
}            

.first
{
    padding: 2px 4px;
    display: inline-block;
    margin: auto 2px;
}
             
.last
{
    padding: 2px 4px;
    display: inline-block;
    margin: auto 2px;
}
             
.current
{
color:#444444;
font-weight:bold;
text-decoration:underline;
}
             
.numeric
{
   color:#444444;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */



    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

.txtbox
{ background: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #DDD inset;
    color: #666;
    float: left;
    padding: 5px 10px;
    width: 165px;
    outline: none;
    margin-left:15px;
 }
.txt {
    float:left;
    font-family: Opensans;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;


}
label {
	float:left;
	width:200px;
    font-family: 'OpenSansRegular',sans-serif;
}

ol {
    list-style: none outside none;
           font-family: Opensans;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 15px;
	
	
	font-weight: bold;
}


.logindiv {
    float:right;
    width:140px;
     padding-top:15px;
    font-size: 15px;	
	font-weight: bold;

}
#regdiv {
    float:left;
    width:245px;
    height:18px;

     padding-top:15px;
     font-size: 15px;	
	font-weight: bold;
        color:white;
}
#middlenav {
    margin-top :50px; 
      margin-bottom :50px; 
     margin-left :150px; 

        border: 1px solid #333;
        width:350px;
        padding:20px;
    
}
.iconimg {
    float:left;
    width:24px;
    height:24px;

}


     .mGrid { width: 100%; background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-size:0.8em; }

    .mGrid td { padding: 2px; border: solid 1px #c1c1c1;  font-size: 0.8em;}
      .mGrid th { padding: 4px 2px;  background: #424242 url("../Images/backgrid.png") repeat-x top; border:  1px solid #65FCF7; font-size: 0.8em; }
    /*.mGrid th { padding: 4px 2px; color: #fff; text-align:center; border-left: solid 1px #525252; font-size: 0.8em; }*/
    .mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
    .mGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .mGrid .pgr table { margin: 5px 0; }
    .mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
    .mGrid .pgr a { color: #666; text-decoration: none; }
    .mGrid .pgr a:hover { color: #000; text-decoration: none; }
        .mGrid .pgr td a { color: #666; text-decoration: none; }
    .mGrid .pgr td a:hover { color: #000; text-decoration: none; }

.lblbtn{ border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:Opensans; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block; color:white;
 background-color: #a5b8da; background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
 width:140px;
 color:white;

 }

.lblbtn:hover{
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: linear-gradient(to bottom, #819bcb, #536f9d);
 }


.sysdiv {
    margin :5px; 
         border: 1px solid #333;
        width:200px;
        padding:20px;
    
}
.lblsmall {
    float:left;
     font-family: 'Open Sans', sans-serif;
    font-size:12px;
    
}

.warn {
  position: relative;
  margin-left: 400px;
  border: solid 1px darkred;
  width:150px; 
  border-radius: .2em;
  background: linear-gradient(white, #9089F2);
  padding-left:7px;
  padding-top:10px;

}
.warn:before {
  position: absolute;
  top: 0; left: 80%;
  margin: -.35em -.45em;
  border-left: inherit; border-top: inherit;

  width: .7em; height: .7em;
  border-radius: 0 0 0 .2em;
  transform: rotate(45deg);
  background:white;
  content: '';
}
.custom-field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    font-size:10px;
    float:left;
   
}
     .IGrid { width: 100%; background-color: #fff; margin: 5px 0 10px 0;  font-size:0.8em; }

    .IGrid td { padding: 2px;  font-size: 1em;}
    .IGrid th { padding: 4px 2px;  background: #424242 url("../Images/backgrid.png") repeat-x top; border:  1px solid #65FCF7; font-size: 1.1em; }
    /*.mGrid th { padding: 4px 2px; color: #fff; text-align:center; border-left: solid 1px #525252; font-size: 0.8em; }*/
    .IGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
    .IGrid .pgr {background: #424242 url(grd_pgr.png) repeat-x top; }
    .IGrid .pgr table { margin: 5px 0; }
    .IGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
    .IGrid .pgr a { color: #666; text-decoration: none; }
    .IGrid .pgr a:hover { color: #000; text-decoration: none; }
        .mGrid .pgr td a { color: #666; text-decoration: none; }
    .IGrid .pgr td a:hover { color: #000; text-decoration: none; }


  .textboxGrid { 
    border: 1px solid #c4c4c4; 
    height: 20px; 
    width: 175px; 
    font-size: 12px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
} 
 
.textboxGrid:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 


.inline-rb input[type="radio"] {
    width: auto;
}

.inline-rb label {

    display: inline;
    width:160px;
    font-size:11px;
    float: right;
    padding-top: 2px;
}
.feildssetgrid {

     border: 1px solid #c4c4c4; 
    margin-top:15px;
    width: 570px; 
    font-size: 12px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
    background-color: #F6F6F6;
}
.divEffort {
       border: 1px solid #c4c4c4; 
    margin-top:15px;
    width: 500px; 
    float:right;
    font-size: 12px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
  outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
  background-color:white;
}
.lblEff {
     width: 20px; 
     font-size: 12px; 
   
    border:none;
    border-color:none;
 margin-top:3px;

}
.titlewrkItm {
    width:140px;
    float:left;
    font-size: 14px; 
    text-align:right;
    color:blueviolet;
}
.titlewrkItmrow {
    width:70px;
    float:left;
    font-size: 12px; 
    text-align:center;
    color:blueviolet;
    margin-top:5px;
}
.slidingDiv {

    padding:20px;
    margin-top:15px;
    border:1px solid #3399FF;
}
 
.show_hide {
    display:none;
}