﻿/*#body_content_style {
border: 1px solid yellow;
}*/

#estimate_table {
    width:100%;
border-spacing:10px 50px;
}

    #estimate_table td {
       padding: 15px 15px 15px 15px;

    }

#estimate_info {
    vertical-align:top;
   border: solid grey 2px;
}

#project_info {
    vertical-align: top;
    border: solid grey 2px;
}




.tree_view_style{
    width: 200px;
    border-top: solid 1px #DDD;
}
 
.tree_view_style ul {
    list-style: none; 
}
 
.tree_view_style_node {
    border-bottom: solid 1px #DDD;
}

.tree_view_style_Root {
    border-bottom: solid 1px #DDD;
}

.tree_view_style_Parent {
    border-bottom: solid 1px #DDD;
}

.tree_view_style_Leaf {
    border-bottom: solid 1px #DDD;
}
  
.tree_view_style_Root a {
    /*display: block;
    width: 170px;
    margin-left: 20px;
    padding: 5px 5px 5px 5px;*/ 
}
 
.tree_view_style_Selected {
   font-size: 14px;
}
 
.tree_view_style_Expand {
    display: block;
    float: left;
    margin: 9px 0px 0px 8px;
    padding: 6px 4px 5px 4px;
    height: 0px !important;
    background: url(../../images/structure/node-plus.gif) 0px 0px no-repeat;
    cursor: pointer;
}
 
.tree_view_style_Collapse {
    display: block;
    float: left;
    margin: 9px 0px 0px 8px;
    padding: 6px 4px 5px 4px;
    height: 0px !important;
    background: url(../../images/structure/node-minus.gif) 0px 0px no-repeat;
    cursor: pointer;
}
 
/*.tree_view_style-Show li {
      border-top: solid 1px #DDD;
      background-position: 28px 9px;
}*/
 
/*.tree_view_style-Hide {
    display: none;
}*/
 
.tree_view_style ul li ul li {
    text-indent: 20px;
    border-bottom: none;
    font-size: 11px;
}

