﻿a:link {color: #4A3C71; text-decoration: none}
a:visited {color: #4A3C71; text-decoration: none}
a:active {color: #ff0000; text-decoration: underline}
a:hover {color: blue; text-decoration: none}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../Fonts/OpenSans-Light-webfont.eot');
    src: url('../Fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../Fonts/OpenSans-Regular-webfont.eot');
    src: url('../Fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../Fonts/OpenSans-Semibold-webfont.eot');
    src: url('../Fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../Fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../Fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

img {
border-style:none;}

.text_box_style {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:20px;
    border-color:#9D9D9D;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:11pt;
}

.multi_line_text_box_style {
    width: 400px;
    background-color: #F6F6F6;
    border-style:solid;
    height:122px;
    border-color:#9D9D9D;
        font-family:'OpenSansRegular', sans-serif; 
    font-size:10pt;
}

.drop_down_list_style {
    /*width: 400px;*/
    background-color: #F6F6F6;
    border-style:solid;
    height:26px;
    border-color:#9D9D9D;
        font-family:'OpenSansRegular', sans-serif; 
    font-size:11pt;
}

.check_box_list_style {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 8pt;
}

.button_style {
	background-color:#f9f9f9;
	border-top-left-radius:11px;
	border-top-right-radius:11px;
	border-bottom-right-radius:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:'OpenSans', sans-serif; 
	font-size:9px;
	
	height:30px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;

}

.button_style:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.button_style:active {
	position:relative;
	top:1px;
}

/*.master_content_text {
    text-align:left;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:10pt;
    line-height:1.4em;
    color:#353535;
}*/


#master_container {
    /*position: relative;
    width: auto;*/
    /*border: solid yellow 3px;*/
     background-color: #73A8C8;
    padding-top:2px;
    clear: left;
   overflow: hidden;
    margin:0 auto;
    width:960px;
}
#leftnav {
  background-color: #73A8C8;
    width: 230px;
    text-align:left;
    vertical-align:top;
    height:100%;
    float:left;

}
.rightnav {
   background-color: white;
    width: 730px;
    text-align:left;
    vertical-align:top;
    height:100%;
    float:right;

}

#top_header {
    height: 35px;
    width: 100%;
    background-color: #3E3D4D;
}


#App_ver {
    width:150px;
    float:left;

}
#loginArea {
    width:400px;
    float:right;
}

#header {
   margin:0 auto;
    width: 960px;
    font-size:27pt;
    height:90px;

    
}

#header2 {
   margin:0 auto;
    height:80px;

}
#logo {
    float:left;
    width:220px;
       height:80px;
    padding-top:25px;
    padding-left:10px;
    background-color:#FAFBFD;

   
}
#PageHeader {
        float:right;
     height:80px;
   width:720px;
    padding-top:25px;
    padding-left:10px;
    background-color:#EFF4F9;

}
#master_container_for_menu_and_body {

    width: 100%;
    border: solid black 2px;
}


#master_body {

    background-color:white;
    /*border: solid 1px red;*/
    width:100%;

}


 .body_header_style {
   border-bottom:inset 1px;
  
    font-size: 19pt; 
    font-family: 'OpenSansLight', sans-serif;
    color:black;
    height:50px;
    width:95%;
    margin:0 auto;


        /*background-image: url('../Images/body_header_separator.png');
    background-repeat: repeat-x;
    background-position: bottom;*/
}


.body_content_style {
    padding-top: 25px;
    padding-left: 30px;
    font-size: 12pt;
    font-family: 'OpenSansLight', sans-serif;
    color: black;
    /*border: solid yellow 3px;
    width: 1000px;*/
}

    .body_content_style a {
        text-decoration:underline;
    }

    .body_content_style a:hover {
       color:blue;
       background-color: white;
    }


[type=text],[type=email], [type=password] {
    background-color: #F6F6F6;
        height:15px;
    font-family:'OpenSansRegular', sans-serif; 
    font-size:9pt;

}


.field_validation_error {
    font-size: 10pt; 
    font-family: 'OpenSansLight', sans-serif;
    color: #e80c4d;
    /*font-weight: bold;*/
}


.menu {
	width: 100%;
	height: auto;
    list-style-type:none;
}
 ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
} 
.menu > li > a {

	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	/*border-bottom: 1px  #fff;*/
	-webkit-box-shadow:inset 0px 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 0px 1px 0px #fff;
	box-shadow: inset 0px 0px 1px 0px #fff;
	height: 35px;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}
.menu ul li a {
	background: #73A8C8;
	border-bottom: 1px solid #fff;
	height: 2.75em;
	line-height: 2.75em;
	text-indent: 2.75em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.923em;
	font-weight: 400;
	color: #878d95;
}
.menu ul li:last-child a {
	border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
	background-color: #35afe3;
	border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
}
.menu > li > a.active {
	border-bottom: 1px solid #1a638f;
}
.menu > li > a:before {
	content: '';
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	font-size: 36px;
	height: 1em;
  	width: 1em;
	position: absolute;
  	left: 0;
	top: 50%;
	margin: -.5em 0 0 0;
}
.item1 > a:before {
	background-position: 0 0;
}
.item2 > a:before {
	background-position: -38px 0;
}
.item3 > a:before {
	background-position: 0 -38px;
}
.item4 > a:before {
	background-position: -38px -38px;
}
.item5 > a:before {
	background-position: -76px 0;
}

.menu > li > a:hover span, .menu > li a.active span {
	background: #2173a1;
}
.menu > li > ul li a:before{
	content: '▶';
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	left: -2.7em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
	color: #32373D;
}
#reg1 {

 margin:0 auto;
 padding:15px;
 width:330px;
float:left;
}
#reg2 {

 margin:0 auto;
 padding:15px;
 width:330px;
float:left;
}
.reg {
 margin:0 auto;
 padding:15px;
 width:700px;
float:left;
}

.lable {
    font-family:"Open Sans";
    width:175px;
    float:left;
        font-family:'OpenSansRegular', sans-serif; 
    font-size:8pt;
}
.red {
    color:red;
}



.cssbutton{
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:8px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.cssbutton:hover{
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}

.buttonholder {
    width:95% ;
    margin:0 auto;
    
}

.rightbtn {
  float:right;
  padding-right:15px;
    
}
.lefttbtn {
  float:left;
  padding-left:15px;
    
}